@media screen and (max-width:1000px){
nav{
    flex-direction: column;
}
header{
    height: 20vh;
}
.logo{
    justify-content: center;

}
.logo img{
    margin: 10px 0px;
}
.search{
    justify-content: center;

}
.search input{
    margin: 8px 0;
}
.buttonn{
    justify-content: center;
    margin: 8px 0;
}
.text{
    justify-content: center;
    margin: 8px 0;

}
}